<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body ng-app="demo">
  <div ng-controller="DemoController as ctrl" class="container" ng-cloak>
    <div class="row">
      <div class="page-header">
        <h1>GenForm - How it works</h1>
      </div>
      <div class="col-md-6">
        <h2>New Entity</h2>
        <form>
          <div class="form-group">
            <label for="parent">Parent ID</label>
            <select class="form-control" id="parentId" ng-model="ctrl.newNode.parentId">
              <option ng-repeat="p in ctrl.possibleParents">{{p}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="id">ID</label>
            <input class="form-control" type="text" id="id" ng-model="ctrl.newNode.id"></input>
          </div>

          <div class="form-group">
            <label for="label">Label</label>
            <input class="form-control" type="text" id="label" ng-model="ctrl.newNode.label"></input>
          </div>

          <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" ng-model="ctrl.newNode.type">
              <option value="text">Text</option>
              <option value="date">Date</option>
              <option value="datetime">Datetime</option>
              <option value="number">Integer number</option>
              <option value="decimal">Decimal number</option>
              <option value="checkbox">Checkbox</option>
              <option value="enum">Option</option>
              <option value="object">Group (object)</option>
            </select>
          </div>

          <div class="form-group" ng-show="ctrl.newNode.type === 'enum'">
            <label for="options">Values ("," separated)</label>
            <input class="form-control" type="text" id="options" ng-model="ctrl.newNode.options"></input>
          </div>

          <input type="checkbox" id="multivalued" ng-model="ctrl.newNode.multivalued"/>
          <label for="multivalued">Multivalued</label>
          <br/>
          <input type="checkbox" id="required" ng-model="ctrl.newNode.required"/>
          <label for="required">Required</label>
          <br/><br/>
          <button ng-click="ctrl.addNode(ctrl.newNode)" class="btn btn-success">Add field</button>
        </form>
        <hr/>
        <h2>Template</h2>
        <pre>{{ctrl.template | json : spacing}}</pre>
      </div>

      <div class="col-md-6">
        <h2>Dynamic Form</h2>
        <form>
          <gen-form template="ctrl.template" model="ctrl.finalJson" indent="0"></gen-form>
        </form>
        <h2>JSON</h2>
        <pre>{{ctrl.finalJson | json : spacing}}</pre>
      </div>
    </div>
  <div>

  <script type="text/javascript" src="example.js"></script>
  <script type="text/javascript" src="../../bower_components/angular-recursion/angular-recursion.min.js"></script>
  <script type="text/javascript" src="../../src/gen-form.js"></script>
  <script type="text/javascript" src="../../src/gen-form.directive.js"></script>
  <script type="text/javascript" src="../../src/gen-field.directive.js"></script>
</body>
</html>
